 .first-div
{
     Width: 500px;
     Height: 210px;
     background-color: aquamarine;
     Border-width: 3px;
     border-color: darkcyan;
     Border-radius: 20%;
     Margin: 10px;
     Padding: 5px;
}

.normal-para
{
    color :chartreuse;
}

#fav-para
{
    color :rgb(189, 43, 226);
}